<ModConfiguration>
  <Id>ReikaKalseki.Resilimination</Id>
  <Name>Resilimination</Name>
  <Version>1</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
  <Description>
	Adds new ways to combat, destroy, and consume soft resin, including new resin bomber falcors, and the ability to bake soft resin into safe decorative blocks.
  </Description>
</ModConfiguration>